body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.first{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-around;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul{
    list-style-type: none;
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    gap: 15px;
}

.top{
    display: flex;
    justify-content: space-around;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.title{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900px;
}